[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
decorator = "*"
brotli = "*"
gevent = "*"
Flask = "<3.0"
werkzeug = "<3.0"
six = "*"
flasgger = "*"
pyyaml = "*"

[dev-packages]
rope = "*"
pytest = "*"
flake8 = "*"
bandit = "*"
pip-audit = "*"
